*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*layout*/
.h-50px{
    height: 50px;
}

.h-200px{
    height: 200px;
}

.h-150px{
    height: 150px;
}

.border{
    border: 1px solid white;
}
/*fine layout*/

/*header*/
.background-nero{
    background-color: #2c3e50;
    height: 50px;
}
/*fine header*/

/*main*/
.background-verde{
    background-color: #1abc9c;
}

.background-giallo{
    background-color: yellow;
}

/* SFONDI PORTFOLIO */

.violet {
    background-color: #ba4b63;
}

.cyan {
    background-color: #1ea4b6;
}

.black {
background-color: #000;
}

.lightblue{
   background-color: #1c83c1; 
}

.blue {
    background-color: #0e38b5;
}

.pink {
    background-color: #ccb2a3;
}

/* FINE SFONDI PORTFOLIO */
/*fine main*/

/*footer*/
.background-grigio{
    background-color: #3a546d;
}
/*fine footer*/