*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*layout*/
body{
    color: white;
}

.h-50px{
    height: 50px;
}

.h-200px{
    height: 200px;
}

.h-150px{
    height: 150px;
}

.border{
    border: 1px solid white;
}

.padding-20{
    padding: 20px 0;
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}

.color-black{
    color: #000;
}
/*fine layout*/

/*header*/
header{
    background-color: #2c3e50;
}

.border-white{
    border: 1px solid white;
}

.filter{
    filter: invert(1);
}
/*fine header*/

/*main*/
.content .list-inline .list-inline-item span {
    display: inline-block;
    width: 90px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    vertical-align: middle;
}

.content .list-inline.black .list-inline-item span{
    background-color: #000;
}

.vertic-al {
    vertical-align: middle;
}
.background-verde{
    background-color: #1abc9c;
}

.background-giallo{
    background-color: yellow;
}
/*start bootstrap*/
.img-avatar{
    width: 200px;
}

h1{
    font-weight: 600;
    font-size: 40px;
}

.fa-star{
    font-size: 25px;
}

/*portfolio*/
.img-portfolio{
    width: 100%;
    border-radius: 10px;
}
/*fine main*/

/*footer*/
/*top footer*/
.background-grigio{
    background-color: #3a546d;
}

.fa-brands{
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px 5px 0 0;
}

.fa-facebook-f{
    padding: 6px 9px;
}

.fa-google-plus-g{
    padding: 6px 5px;
}

.fa-twitter{
    padding: 6px;
}

.fa-linkedin-in{
    padding: 6px 7px;
}

.link-footer{
    text-decoration: none;
    color: #1abc9c;
}
/*fine footer*/

/*media query tablet*/
@media screen and (min-width: 720px) {
    .display-none{
        display: block;
    }

    .display-block{
        display: none;
    }

    content .list-inline .list-inline-item span {
        width: 130px;
    }
}

/*media query desktop*/
@media screen and (min-width: 960px) {
    h1{
        font-size: 50px;
    }

    .content .list-inline .list-inline-item span {
        width: 150px;
    }
}
